.dashboard {
  padding: 0 1.25rem;
}
.chart-container {
  margin: 30px 0 0 0;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .chart {
    width: 24%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.analyze-container {
  height: 350px;
  width: 100%;
  margin: 1.25rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .table {
    height: 100%;
    width: 24%;

    h3 {
      text-align: center;
      margin: 0 0 1.25rem 0;
    }
  }
}
