.home {
  margin: 1.5rem auto;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .tvoc-chart-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .bar-chart {
      position: relative;
      height: 240px;
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .chart-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      margin-left: 1.5rem;
    }
  }
  .time-interval-selector {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    .form {
      display: flex;
      justify-content: space-between;
      gap: 3px;
      margin-left: 10px;
    }
    button {
      height: 36px;
    }
  }
}
