.home {
  margin: 1.5rem auto;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .tvoc-chart-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .bar-chart {
      position: relative;
      height: 240px;
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
